<html>
    <head>
        <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <style>
    body { padding-top:20px; }
.panel-body .btn:not(.btn-block) { width:120px;margin-bottom:10px; }
    </style>
    <!-- data tables -->
    <script>
        $(document).ready(function() {
    $('#patients').DataTable();
} );
//     $(document).ready(function() {
//     $('#patients').DataTable( {
//         columnDefs: [ {
//             targets: [ 0 ],
//             orderData: [ 0, 1 ]
//         }, {
//             targets: [ 1 ],
//             orderData: [ 1, 0 ]
//         }, {
//             targets: [ 4 ],
//             orderData: [ 4, 0 ]
//         } ]
//     } );
// } );
    </script>
    </head>
    <body>
        <!-- <div>
            <a href="/">Palladium Group</a> | 
            <a href="/patients/add">Add New User</a> | 
            <a href="/patients">All Database</a>
        </div>     -->