<html>
    <head>
        <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <style>
    body { padding-top:20px; }
.panel-body .btn:not(.btn-block) { width:120px;margin-bottom:10px; }
    </style>
    </head>
    <body>
        <!-- <div>
            <a href="/">Palladium Group</a> | 
            <a href="/patients/add">Add New User</a> | 
            <a href="/patients">All Database</a>
        </div>     -->