USE [master]
GO
/****** Object:  Database [PHC]    Script Date: 20-Jun-2018 2:03:07 PM ******/
CREATE DATABASE [PHC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PHC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\PHC.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PHC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\PHC_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PHC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PHC]
GO
/****** Object:  Schema [General]    Script Date: 20-Jun-2018 2:03:07 PM ******/
CREATE SCHEMA [General]
GO
/****** Object:  Schema [Records]    Script Date: 20-Jun-2018 2:03:07 PM ******/
CREATE SCHEMA [Records]
GO
/****** Object:  Schema [Setups]    Script Date: 20-Jun-2018 2:03:07 PM ******/
CREATE SCHEMA [Setups]
GO
/****** Object:  Table [General].[AuditTrails]    Script Date: 20-Jun-2018 2:03:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [General].[AuditTrails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[RecordTable] [nvarchar](50) NOT NULL,
	[RecordID] [int] NOT NULL,
	[Record] [nvarchar](max) NOT NULL,
	[Actionby] [int] NOT NULL,
	[ActionDate] [datetime] NOT NULL,
 CONSTRAINT [PK_AuditTrail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Records].[Contacts]    Script Date: 20-Jun-2018 2:03:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Records].[Contacts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[Cellphone] [nvarchar](50) NULL,
	[Cellphone2] [nvarchar](50) NULL,
	[Email] [nvarchar](500) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Records].[NextOfKins]    Script Date: 20-Jun-2018 2:03:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Records].[NextOfKins](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[Surname] [nvarchar](250) NOT NULL,
	[OtherNames] [nvarchar](500) NOT NULL,
	[CellphoneNumber] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](500) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_NextOfKins] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Records].[Patients]    Script Date: 20-Jun-2018 2:03:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Records].[Patients](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Surname] [nvarchar](250) NOT NULL,
	[OtherNames] [nvarchar](500) NOT NULL,
	[Gender] [nvarchar](1) NULL,
	[DOB] [date] NULL,
	[LocationID] [int] NULL,
	[OccupationID] [int] NULL,
	[EnrollmentDate] [date] NULL,
	[EnrollmentNumber] [nvarchar](250) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Setups].[Counties]    Script Date: 20-Jun-2018 2:03:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Setups].[Counties](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[County] [nvarchar](200) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Counties] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Setups].[Occupations]    Script Date: 20-Jun-2018 2:03:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Setups].[Occupations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Occupation] [nvarchar](250) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Occupations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Setups].[SubCounties]    Script Date: 20-Jun-2018 2:03:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Setups].[SubCounties](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CountyID] [int] NOT NULL,
	[SubCounty] [nvarchar](200) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_SubCounties] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Setups].[Villages]    Script Date: 20-Jun-2018 2:03:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Setups].[Villages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WardID] [int] NOT NULL,
	[Village] [nvarchar](250) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Villages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Setups].[Wards]    Script Date: 20-Jun-2018 2:03:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Setups].[Wards](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SubCountyID] [int] NOT NULL,
	[Ward] [nvarchar](250) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Wards] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [General].[AuditTrails] ON 

INSERT [General].[AuditTrails] ([ID], [Action], [RecordTable], [RecordID], [Record], [Actionby], [ActionDate]) VALUES (1, N'Update', N'Contacts', 1, N'{"Patientid":5,"Email":"victor@yahoo.coms","Cellphone":"0721333333","Cellphone2":"0745505052"}', 1, CAST(0x0000A904017413CA AS DateTime))
INSERT [General].[AuditTrails] ([ID], [Action], [RecordTable], [RecordID], [Record], [Actionby], [ActionDate]) VALUES (2, N'Update', N'Contacts', 1, N'{"Patientid":5,"Email":"victor@yahoo.coms","Cellphone":"0721333333","Cellphone2":"0745505053"}', 1, CAST(0x0000A90401753C81 AS DateTime))
INSERT [General].[AuditTrails] ([ID], [Action], [RecordTable], [RecordID], [Record], [Actionby], [ActionDate]) VALUES (3, N'Delete', N'NextOfKins', 1, N'{"ID":1,"Patientid":5,"Surname":"Bondi","Othernames":"Fred omondis","Cellphone":"800000","Email":"Bondi@yahoo.com"}', 1, CAST(0x0000A90401858C6B AS DateTime))
SET IDENTITY_INSERT [General].[AuditTrails] OFF
SET IDENTITY_INSERT [Records].[Contacts] ON 

INSERT [Records].[Contacts] ([ID], [PatientID], [Cellphone], [Cellphone2], [Email], [Active]) VALUES (1, 5, N'0721333333', N'0745505053', N'victor@yahoo.coms', 1)
INSERT [Records].[Contacts] ([ID], [PatientID], [Cellphone], [Cellphone2], [Email], [Active]) VALUES (2, 6, N'800000', N'10000', N'Bondi@yahoo.com', 0)
INSERT [Records].[Contacts] ([ID], [PatientID], [Cellphone], [Cellphone2], [Email], [Active]) VALUES (3, 7, N'430000', NULL, NULL, 1)
SET IDENTITY_INSERT [Records].[Contacts] OFF
SET IDENTITY_INSERT [Records].[NextOfKins] ON 

INSERT [Records].[NextOfKins] ([ID], [PatientID], [Surname], [OtherNames], [CellphoneNumber], [Email], [Active]) VALUES (1, 5, N'Bondi', N'Fred omondis', N'800000', N'Bondi@yahoo.com', 1)
INSERT [Records].[NextOfKins] ([ID], [PatientID], [Surname], [OtherNames], [CellphoneNumber], [Email], [Active]) VALUES (2, 6, N'Omondi', N'James', N'621000', N'omondi@yahoo.com', 0)
INSERT [Records].[NextOfKins] ([ID], [PatientID], [Surname], [OtherNames], [CellphoneNumber], [Email], [Active]) VALUES (3, 6, N'Kirui', N'Julius Kipngetich', N'430000', N'kirui@yahoo.com', 0)
SET IDENTITY_INSERT [Records].[NextOfKins] OFF
SET IDENTITY_INSERT [Records].[Patients] ON 

INSERT [Records].[Patients] ([ID], [Title], [Surname], [OtherNames], [Gender], [DOB], [LocationID], [OccupationID], [EnrollmentDate], [EnrollmentNumber], [Active]) VALUES (1, N'Mr', N'Ngumi', N'Bruno Macharia', N'M', CAST(0x583E0B00 AS Date), NULL, NULL, CAST(0x593E0B00 AS Date), N'100', 0)
INSERT [Records].[Patients] ([ID], [Title], [Surname], [OtherNames], [Gender], [DOB], [LocationID], [OccupationID], [EnrollmentDate], [EnrollmentNumber], [Active]) VALUES (2, N'Mrs', N'Oduogo', N'Benter', N'F', CAST(0x513E0B00 AS Date), NULL, NULL, CAST(0x583E0B00 AS Date), N'101', 1)
INSERT [Records].[Patients] ([ID], [Title], [Surname], [OtherNames], [Gender], [DOB], [LocationID], [OccupationID], [EnrollmentDate], [EnrollmentNumber], [Active]) VALUES (3, N'Mr', N'Ndii', N'Brian Waka', N'M', CAST(0x523E0B00 AS Date), 5, NULL, CAST(0x5A3E0B00 AS Date), N'102', 1)
SET IDENTITY_INSERT [Records].[Patients] OFF
SET IDENTITY_INSERT [Setups].[Counties] ON 

INSERT [Setups].[Counties] ([ID], [County], [Active]) VALUES (1, N'Mombasa', 1)
INSERT [Setups].[Counties] ([ID], [County], [Active]) VALUES (2, N'Kilifi', 1)
INSERT [Setups].[Counties] ([ID], [County], [Active]) VALUES (3, N'Kwale', 1)
SET IDENTITY_INSERT [Setups].[Counties] OFF
SET IDENTITY_INSERT [Setups].[Occupations] ON 

INSERT [Setups].[Occupations] ([ID], [Occupation], [Active]) VALUES (1, N'Driver', 1)
INSERT [Setups].[Occupations] ([ID], [Occupation], [Active]) VALUES (2, N'Matron', 1)
INSERT [Setups].[Occupations] ([ID], [Occupation], [Active]) VALUES (3, N'Software Developer', 1)
SET IDENTITY_INSERT [Setups].[Occupations] OFF
SET IDENTITY_INSERT [Setups].[SubCounties] ON 

INSERT [Setups].[SubCounties] ([ID], [CountyID], [SubCounty], [Active]) VALUES (1, 3, N'Changamwe', 0)
INSERT [Setups].[SubCounties] ([ID], [CountyID], [SubCounty], [Active]) VALUES (2, 1, N'Changamwe', 1)
INSERT [Setups].[SubCounties] ([ID], [CountyID], [SubCounty], [Active]) VALUES (3, 47, N'Dagoretti South', 1)
GO
SET IDENTITY_INSERT [Setups].[SubCounties] OFF
SET IDENTITY_INSERT [Setups].[Villages] ON 

INSERT [Setups].[Villages] ([ID], [WardID], [Village], [Active]) VALUES (1, 1, N'Reitz village 1', 1)
INSERT [Setups].[Villages] ([ID], [WardID], [Village], [Active]) VALUES (2, 2, N'Kipevu village1', 1)
INSERT [Setups].[Villages] ([ID], [WardID], [Village], [Active]) VALUES (3, 3, N'Airport village1', 1)
SET IDENTITY_INSERT [Setups].[Villages] OFF
SET IDENTITY_INSERT [Setups].[Wards] ON 

INSERT [Setups].[Wards] ([ID], [SubCountyID], [Ward], [Active]) VALUES (1, 2, N'PORT REITZ', 1)
INSERT [Setups].[Wards] ([ID], [SubCountyID], [Ward], [Active]) VALUES (2, 2, N'KIPEVU', 1)
INSERT [Setups].[Wards] ([ID], [SubCountyID], [Ward], [Active]) VALUES (3, 2, N'AIRPORT', 1)
GO
SET IDENTITY_INSERT [Setups].[Wards] OFF
ALTER TABLE [Records].[Contacts]  WITH CHECK ADD  CONSTRAINT [FK_Contacts_Patients] FOREIGN KEY([PatientID])
REFERENCES [Records].[Patients] ([ID])
GO
ALTER TABLE [Records].[Contacts] CHECK CONSTRAINT [FK_Contacts_Patients]
GO
ALTER TABLE [Records].[NextOfKins]  WITH CHECK ADD  CONSTRAINT [FK_NextOfKins_Patients] FOREIGN KEY([PatientID])
REFERENCES [Records].[Patients] ([ID])
GO
ALTER TABLE [Records].[NextOfKins] CHECK CONSTRAINT [FK_NextOfKins_Patients]
GO
ALTER TABLE [Records].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Occupations] FOREIGN KEY([OccupationID])
REFERENCES [Setups].[Occupations] ([ID])
GO
ALTER TABLE [Records].[Patients] CHECK CONSTRAINT [FK_Patients_Occupations]
GO
ALTER TABLE [Records].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Villages] FOREIGN KEY([LocationID])
REFERENCES [Setups].[Villages] ([ID])
GO
ALTER TABLE [Records].[Patients] CHECK CONSTRAINT [FK_Patients_Villages]
GO
ALTER TABLE [Setups].[SubCounties]  WITH CHECK ADD  CONSTRAINT [FK_SubCounties_Counties] FOREIGN KEY([CountyID])
REFERENCES [Setups].[Counties] ([ID])
GO
ALTER TABLE [Setups].[SubCounties] CHECK CONSTRAINT [FK_SubCounties_Counties]
GO
ALTER TABLE [Setups].[Villages]  WITH CHECK ADD  CONSTRAINT [FK_Villages_Wards] FOREIGN KEY([WardID])
REFERENCES [Setups].[Wards] ([ID])
GO
ALTER TABLE [Setups].[Villages] CHECK CONSTRAINT [FK_Villages_Wards]
GO
ALTER TABLE [Setups].[Wards]  WITH CHECK ADD  CONSTRAINT [FK_Wards_SubCounties] FOREIGN KEY([SubCountyID])
REFERENCES [Setups].[SubCounties] ([ID])
GO
ALTER TABLE [Setups].[Wards] CHECK CONSTRAINT [FK_Wards_SubCounties]
GO
USE [master]
GO
