<div>
    <h2>
        <span jhiTranslate="patientManegementTaskApp.changeSet.home.title">Change Sets</span>
        <button class="btn btn-primary float-right jh-create-entity create-change-set" [routerLink]="['/', { outlets: { popup: ['change-set-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="patientManegementTaskApp.changeSet.home.createLabel">
            Create new Change Set
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'patientManegementTaskApp.changeSet.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="changeSets">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="patientManegementTaskApp.changeSet.tableName">Table Name</span></th>
            <th><span jhiTranslate="patientManegementTaskApp.changeSet.operation">Operation</span></th>
            <th><span jhiTranslate="patientManegementTaskApp.changeSet.columnName">Column Name</span></th>
            <th><span jhiTranslate="patientManegementTaskApp.changeSet.entity">Entity</span></th>
            <th><span jhiTranslate="patientManegementTaskApp.changeSet.user">User</span></th>
            <th><span jhiTranslate="patientManegementTaskApp.changeSet.oldValue">Old Value</span></th>
            <th><span jhiTranslate="patientManegementTaskApp.changeSet.newValue">New Value</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let changeSet of changeSets ;trackBy: trackId">
                <td><a [routerLink]="['../change-set', changeSet.id ]">{{changeSet.id}}</a></td>
                <td>{{changeSet.tableName}}</td>
                <td>{{changeSet.operation}}</td>
                <td>{{changeSet.columnName}}</td>
                <td>{{changeSet.entity}}</td>
                <td>{{changeSet.user}}</td>
                <td>{{changeSet.oldValue}}</td>
                <td>{{changeSet.newValue}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../patient', changeSet.entity ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'change-set/'+ changeSet.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'change-set/'+ changeSet.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
