<%- include layouts/header.ejs %>
                    <a href="" class="btn btn-success btn-lg btn-block" role="button"><span class="glyphicon glyphicon-globe"></span> CopyRight @ 2018</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include layouts/footer.ejs %>