<script src="../../app.module.ts"></script>
<header class="main-header">

  <!-- Logo -->
  <a href="#" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>M</b>A</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>MRS</b>APP</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/starter" routerLinkActive="active">Patient Search </a></li>
      <li><a routerLink="/create-patient" routerLinkActive="active">Create Patient</a></li>
      <li><a routerLink="/patient-list-cohort" routerLinkActive="active">View Patients</a></li>
      <li><a routerLink="/app-report-summary" routerLinkActive="active">Reports</a></li>
    </ul>

    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- The user image in the navbar-->
            <span class="fa fa-user"></span>
            <span class="hidden-xs">User</span>
          </a>
          <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <li class="user-header">

              <p>
                user
                <small></small>
              </p>
            </li>
            <!-- Menu Body -->
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
